<VirtualHost *:80>
    ServerName {{ phpmyadmin_domain_name }}
    DocumentRoot /usr/share/phpmyadmin
    <DirectoryMatch "(templates|libraries|\.(svn|git|hg|bzr|cvs))/">
        Require all denied
    </DirectoryMatch>

    <Directory /usr/share/phpmyadmin/>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
    {% for ip in phpmyadmin_authorized_ip %}
        Require ip {{ ip }}
    {% endfor %}
        Require all denied
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/phpmyadmin.error.log
    CustomLog ${APACHE_LOG_DIR}/phpmyadmin.access.log combined
</VirtualHost>
